<audio autoplay>
  <source src="../../assets/songs/ThemeStarWars.mp3" type="audio/mp3" />
  Your web browser is outdated or don't support OGG and MP3 codecs.
</audio>

<body>
  <section class="star-wars">
    <div class="crawl">
      <div class="title">
        <p>Episode 2019</p>
        <h1>A New Hope</h1>
      </div>

      <p>
        François Bugnion, padawan of Luke SkyBuger, is trying to enter into
        Cerulean a planet controlled by the Open Web Technology.
      </p>
      <p>
        Before entering into the planet. He will have to face a lot of
        challenge.
      </p>
      <p>
        But somewhere else in the space..,
      </p>

      <p>
        It is a period of civil war. Rebel spaceships, striking from a hidden
        base, have won their first victory against the evil Galactic Empire.
      </p>
      <p>
        During the battle, Rebel spies managed to steal secret plans to the
        Empire’s ultimate weapon, the DEATH STAR, an armored space station with
        enough power to destroy an entire planet.
      </p>
      <p>
        Pursued by the Empire’s sinister agents, Princess Leia races home aboard
        her starship, custodian of the stolen plans that can save her people and
        restore freedom to the galaxy…
      </p>
    </div>
    <img
      style="position:fixed;bottom:1;right:0"
      href="#"
      id="skip"
      src="../../assets/images/skip.png"
      (click)="skipToLogin()"
    />
  </section>
</body>
