<body>
  <div class="container">
    <div
      class="row justify-content-center align-items-center"
      style="height:98vh"
    >
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <form action="" autocomplete="off">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  placeholder="username"
                  [(ngModel)]="username"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  placeholder="password"
                  [(ngModel)]="password"
                />
              </div>
              <div class="text-center">
                <button
                  (click)="login()"
                  type="button"
                  id="sendlogin"
                  class="btn btn-primary align center"
                >
                  login
                </button>
              </div>
              <div *ngIf="wrongCredentials" class="text-center mt-2">
                <span style="color:red">Wrong Credentials</span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
