<body>
  <div class="container">
    <div
      style="height:94vh"
      class="row justify-content-center align-items-center"
    >
      <div class="col-11">
        <div class="row" style="margin-bottom: 2%;">
          <div class="col">
            <select id="styledSelect" (change)="getData($event.target.value)">
              <option value="films">Films</option>
              <option value="peoples">Peoples</option>
              <option value="starships">Starships</option>
              <option value="vehicles">Vehicles</option>
              <option value="species">Species</option>
              <option value="planets">Planets</option>
            </select>
          </div>
          <div class="col">
            <input
              type="search"
              placeholder="Search Ressources"
              [(ngModel)]="searchText"
              (keyup)="filterResults()"
            />
          </div>
        </div>

        <!--People Table -->
        <mat-table
          *ngIf="selectedFilter == 'peoples'"
          #table
          [dataSource]="datasource"
          matSort
        >
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.name }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Weight
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.mass }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="height">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Height
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.height }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="hair_color">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Hair Color
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.hair_color }}
            </mat-cell>
          </ng-container>
          <mat-header-row
            *matHeaderRowDef="displayedColumnsPeoples"
            class="example-header-row"
          ></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: displayedColumnsPeoples"
            class="example-row"
            (click)="getDetails(row)"
          ></mat-row>
        </mat-table>

        <mat-table
          *ngIf="selectedFilter == 'films'"
          #table
          [dataSource]="datasource"
          matSort
        >
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Title
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.title }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="director">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Director
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.director }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="producer">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Producer
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.producer }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="release_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Release Date
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.release_date }}
            </mat-cell>
          </ng-container>
          <mat-header-row
            *matHeaderRowDef="displayedColumnsFilms"
            class="example-header-row"
          ></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: displayedColumnsFilms"
            class="example-row"
            (click)="getDetails(row.Id, row)"
          ></mat-row>
        </mat-table>

        <mat-table
          *ngIf="selectedFilter == 'starships' || selectedFilter == 'vehicles'"
          #table
          [dataSource]="datasource"
          matSort
        >
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.name }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="model">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Model
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.model }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="length">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Length
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.length }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="manufacturer">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Manufacturer
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.manufacturer }}
            </mat-cell>
          </ng-container>
          <mat-header-row
            *matHeaderRowDef="displayedColumnsVehiclesStarships"
            class="example-header-row"
          ></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: displayedColumnsVehiclesStarships"
            class="example-row"
            (click)="getDetails(row.Id, row)"
          ></mat-row>
        </mat-table>

        <!--Species Table -->
        <mat-table
          *ngIf="selectedFilter == 'species'"
          #table
          [dataSource]="datasource"
          matSort
        >
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.name }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="language">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Language
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.language }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="average_height">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Average Height
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.average_height }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="average_lifespan">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Average Lifespan
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.average_lifespan }}
            </mat-cell>
          </ng-container>
          <mat-header-row
            *matHeaderRowDef="displayedColumnsSpecies"
            class="example-header-row"
          ></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: displayedColumnsSpecies"
            class="example-row"
            (click)="getDetails(row.Id, row)"
          ></mat-row>
        </mat-table>

        <!--Planets Table -->
        <mat-table
          *ngIf="selectedFilter == 'planets'"
          #table
          [dataSource]="datasource"
          matSort
        >
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.name }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="population">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Population
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.population }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="terrain">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Terrain
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.terrain }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="climate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Climate
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.climate }}
            </mat-cell>
          </ng-container>
          <mat-header-row
            *matHeaderRowDef="displayedColumnsPlanets"
            class="example-header-row"
          ></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: displayedColumnsPlanets"
            class="example-row"
            (click)="getDetails(row.Id, row)"
          ></mat-row>
        </mat-table>
        <div class="text-center mt-2 " *ngIf="datasource.data.length === 0">
          <kbd> Please select a filter to display results</kbd>
        </div>
        <mat-paginator
          style="margin-top:2%;"
          #paginator
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 20]"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</body>
