@import "../../bootstrap-theme/variables";
@import "../../../../node_modules/bootstrap-scss/bootstrap";
@import "../../bootstrap-theme/bootswatch";


#styledSelect {
  margin-bottom: 2%;
  width: 50%;
}

input {
  width: 100%;
}
